<%= stylesheet_link_tag "application" %>
<div class="container">
  <body>
  <div class="row">
    <h1>Add a User to the Admin</h1>
  </div>
  <div class="row">
    <%= form_for @admin, url: {action: "create"} do |f| %>
      <%=f.label :username %>
      <%=f.text_field :username %>
    </div>
    <div class="row">
      <%=f.label :password %>
      <%=f.password_field :password %>
    </div>
    <div class="row">
      <%=f.label :password_confirmation %>
      <%=f.password_field :password_confirmation %>
    </div>
    <div class="row">
      <%=f.submit "Create User" %>
      <% end %>
    </div>
  </body>
</div>
