<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CarFreeNyc</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  </head>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "header" %>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
          <li><a href="/car_free_nyc">About Us</a></li>
          <li><a href="/pledge">Make a Pledge!</a></li>
          <li><a href="/pledge_confirmation">Pledges So Far: <b><i><%= @counter%></b></i></a></li>
          <li><a href="/sponsors">Sponsors</a></li>
        </ul>
    </nav>
    <body>
    <%=notice%>
    <%=yield%>
    </body>
  </div>
  <footer>
    <div class="footerorg">
      <img src="assets/GA Logo.jpg" class="footerlogo">
      <img src="assets/CFD Logo.jpg" class="footerlogo">
    Website co-hosted by General Assemby and Car Free NYC
    </div>
    <a href="/login" class="admin">Admin</a>
  </footer>
</html>
